<div class="footer">
	<h3>This is meant to help provide <i>irrelevant</i> tangible data for school projects, and other things of that nature.</h3>
	<a href="https://www.codeberry.ca/"><code>codeberry</code>
	<img src="images/cb.png" id="cb"></a>
</div>