<%- include('partials/header.ejs') %>


<div class="container-fluid" id="main-bg">
  <div class="container" id="main-inner">
    <form action="/main" method="POST">
      <h2>How many "responses" would you like?</h2>
      <input type="range" min="20" max="2500" value="1000" class="slider" id="myRange" name="numResponses" required>
      <div class="count">1000 totally real responses.</div>
      <h2>How many questions are in your survey?</h2>
      <div>
        <span class="input-number-decrement">–</span>
        <input class="input-number" type="text" value="7" min="2" max="18" name="numQuestions" required>
        <span class="input-number-increment">+</span>
      </div>
      <button type="submit" id="startapp">Go</button>
    </form>
  </div>
</div>


<script src="js/main.js"></script>

<%- include('partials/footer.ejs') %>