body, html {
	margin: 0;
	padding: 0;
}

.logo {
	height: 80px;
}

#header {
	position: absolute;
}

#home-bg {
	height: 800px;
	background-image: url('../images/bg3.png');
	/*background-size: cover;
	background-position: center;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.navbar-nav {
	margin-left: 50px;
}

.navbar-nav li a {
	font-family: Quicksand;
	margin-right: 15px;
}

#home-bg h1 {
	font-family: Catamaran;
	color: rgba(0,0,0,0.96);
	font-size: 80px;
	background-color: #fafafa;
}

#home-bg h4 {
	font-family: Quicksand;
	color: rgba(245,245,245,0.9);
	background-color: black;
    padding: 10px;
}

#home-bg button {
	margin-top: 50px;
	padding: 20px;
	border: transparent;
	border-top-right-radius: 40px;
	border-bottom-left-radius: 40px;
	width: 250px;
	background-color: rgba(245,245,245,0.9);
	font-family: Quicksand;
	font-weight: bold;
	transition: background-color 500ms;
}

#home-bg button:hover {
	background-color: #429044;
	cursor: pointer;
}

.footer {
	padding: 50px;
	font-family: Quicksand;
	text-align: center;
	position: relative;
	background-color: black;
}

#ex_inner h6 {
	color: lightgrey;
}

.footer h3 {
	color: #fafafa;
}


#cb {
	position: absolute;
	bottom: 10px;
	right: 10px;
	height: 60px;
	width: 60px;
}

#main-bg {
	height: 650px;
	background-color: #1a1616;
}

.slider {
  	-webkit-appearance: none;
	width: 75%;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.8;
	transition: opacity 200ms;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

#main-inner {
	height: 100%;
	padding-top: 100px;
}

#input-panel {
	height: 100%;
	padding-top: 150px;
	display: none;
}

#input-panel h1 {
	margin-bottom: 20px;
	font-family: Catamaran;
	color: #fafafa;
}

#main-inner h2 {
	font-family: Catamaran;
	color: #fafafa;
	margin-top: 50px;
}

input {
	transition: background-color 500ms;
}

input:focus {
	background-color: #fafafa !important;
}

#main-inner button {
	margin-top: 50px;
	padding: 10px 50px;
	border: transparent;
	float: right;
	font-family: Quicksand;
	font-weight: bold;
}

#input-panel button {
	margin-top: 50px;
	padding: 10px 50px;
	border: transparent;
	float: right;
	font-family: Quicksand;
	font-weight: bold;
}

.count {
	color: #d3d3d3;
	font-family: Quicksand;
}

.row input {
	width: 20%;
	margin: auto;
	padding: 10px;
	font-family: Quicksand;
	background-color: rgba(211, 211, 211, 0.9);
	border: transparent;
}


.weight-input, .answer-input {
	width: unset !important;
	display: inline-block;
}

.response-holder {
	display: flex;
	align-items: center;
	justify-content: center;
}

.response-holder h1 {
	margin-top: 35px;
	font-family: Catamaran;
}

input {
	font-family: Quicksand !important;
}

#example {
	height: 500px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding: 50px;
	background-image: url("../images/bg2.jpg");
	background-position: center;
	background-repeat: no-repeat;
}

#example h1 {
	font-family: Catamaran;
	color: #fafafa;
}

nav {
	transition: background-color 1s;
}

.solidBrah {
	background-color: black;
}

#input-d1 button {
	display: block;
	margin: 50px auto;
	background-color: black;
	font-family: Catamaran;
	width: 350px;
	font-size: 22px;
	height: 80px;
	border: transparent;
}

#input-d1 button:hover {
	background-color: #429044;
}

#hidden {
	display: none;
}

.weight-input {
	width: 205px !important;
}

#output-d1 {
	margin-top: 100px;
	padding: 25px;
}

#output-d1 h1 {
	font-family: Catamaran;
    background-color: black;
    color: #fafafa;
    padding: 15px;
}

#output-d1 h3 {
	margin: 15px 0 15px 15px;
	font-family: Catamaran;
}

#last_op {
	margin-bottom: 35px;
}

#output-d1 p {
	margin-left: 50px;
	font-weight: bold;
	font-size: 22px;
}

#output-d1 span {
	font-weight: normal !important;
	font-family: Quicksand;
	font-size: 17px;
}

#startapp {
	cursor: pointer;
	transition: background-color 1s, color 500ms;
}

#startapp:hover {
	background-color: #429044;
	color: #fafafa;
}

#features-d1 {
	height: 800px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../images/bg3.jpg');
}

.container-slim {
	padding: 25%;
}

#features-d1>div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

#features-d1 h1 {
	font-family: Catamaran;
	font-size: 60px;
	display: inline-block;
	padding: 25px;
	background-color: #fafafa;
	margin-bottom: 25px;
}

#features-d1 p {
	font-family: Quicksand;
	padding: 20px 50px;
	background-color: black;
	line-height: 2;
	color: #fafafa;
}




.input-number-increment,
.input_number-decrement:hover {
	background-color: #429044;
}

.input-number {
  width: 80px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
  background-color: rgba(211,211,211,0.9);
}

.input-number,
.input-number-decrement,
.input-number-increment {
  border: 1px solid #ccc;
  height: 40px;
  user-select: none;
}

.input-number-decrement,
.input-number-increment {
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background: #f1f1f1;
  color: #444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.input-number-decrement:active,
.input-number-increment:active {
  background: #ddd;
}

.input-number-decrement {
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.input-number-increment {
  border-left: none;
  border-radius: 0 4px 4px 0;
}

#example {
	transition: height 1s;
}


@media screen and (max-width: 951px) {
	#example {
		height: 520px;
	}
	.top-q {
		margin-bottom: 25px;
	}
}

@media screen and (max-width: 567px) {
	#home-bg h1 {
		font-size: 50px;
	}
	#home-bg h4 {
		font-size: 21px;
	}
	#home-bg {
		height: unset !important;
		padding-top: 120px;
    	padding-bottom: 50px;
	}
}